$dark:#e42b5f;
$mid:#f8cad7;
$light:#ffebf1;
$lighter:#e1e1e1;
$grey:#4e515d;
$gray:#b7b8bc;
$black:#191d2d;
$padding:6rem 6rem;
$paddings:2rem 1rem;
$sm:500px;
$md:800px;
$lg:1030px;
$font: 'Pinyon Script', cursive;